.btn_start,
.quiz_box {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.quiz_box.active {
    
    opacity: 1;
    pointer-events: auto;
    transform: translate(-150% -50%) scale(1);


}

.quiz_box {
  width: 550px;
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s ease;
  transform: translate(-50% -50%) scale(0.2);
}

.quiz_box header .title {
  font-size: 20px;
  font-weight: 600;
}

.quiz_box.question_text {
  font-size: 20px;
  font-weight: 600;
}

.quiz_box .option_list {
  padding: 18px 0;
}

.quiz_box .option_list .option {
  border: 1px solid #151d3b;
  border-radius: 5px;
  padding: 8px 15px;
  margin-bottom: 10px;
  font-size: 16px;
  cursor: pointer; /*el işareti çıkmasını sağlar  */

  display: flex; /* yanyana getiriyor */
  align-items: center; /*dikeyde ortalıyor*/
  justify-content: space-between; /*arasında boşluk koyuyor*/
}

.quiz_box .option_list .option:hover {
  color: #112b2c;
  background: #ffd33d;
}

.quiz_box .option_list .option.correct {

    color: #155724;
    background: #d4edda;
}

.quiz_box .option_list .option.incorrect {
    
    color: #721c24;
    background: #f8d7da;
}

